@model IEnumerable<OnlineJobPortal.Models.Contact>
@{
    ViewBag.Title = "ContactList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}


<div style="background-image: url('../Images/bg.jpg'); width: 100%; height: 720px; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="container-fluid pt-4 pb-4">
        <div>
            <span id="ContentPlaceHolder1_lblMsg"></span>
        </div>

        <h3 class="text-center">Contact List/Details</h3>

        <div class="row mb-3 pt-sm-3">
            <div class="col-md-12">
                <div>
                    <table class="table table-hover table-bordered" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
                        <tr style="color:White;background-color:#7200CF;">
                            <th scope="col">Sr.No</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Message</th>
                            <th scope="col">Delete</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td align="center">@(count++)</td>
                                <td align="center">@item.Name</td>
                                <td align="center">@item.Email</td>
                                <td align="center">@item.Subject</td>
                                <td align="center">@item.Message</td>
                                <td align="center"><input type="image" src="../assets/img/icon/trashIcon.png" alt="Delete" onclick="location = `/Admin/DeleteContact/@item.ContactId`" style="height:25px;width:25px;" /></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>