@model IEnumerable<OnlineJobPortal.Models.Job>
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int count = 1;
}

<div style="background-image: url('../Images/bg.jpg'); width: 100%; height: 720px; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="container-fluid pt-4 pb-4">


        <div class="btn-toolbar justify-content-between mb-3">
            <div class="btn-group">
                <span id="ContentPlaceHolder1_lblMsg"></span>
            </div>

            <div class="input-group h-25">

            </div>

        </div>



        <h3 class="text-center">Job List/Details</h3>

        <div class="row mb-3 pt-sm-3">
            <div class="col-md-12">
                <div>
                    <table class="table table-hover table-bordered" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
                        <tr align="center" style="color:White;background-color:#7200CF;">
                            <th scope="col">Sr.No</th>
                            <th scope="col">Job Title</th>
                            <th scope="col">No.Of Post</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Experience</th>
                            <th scope="col">Valid Till</th>
                            <th scope="col">Company</th>
                            <th scope="col">Country</th>
                            <th scope="col">State</th>
                            <th scope="col">Posted Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr id="ContentPlaceHolder1_GridView1">
                                <td align="center">@(count++)</td>
                                <td align="center">@item.Title</td>
                                <td align="center">@item.NoOfPost</td>
                                <td align="center">@item.Qualification</td>
                                <td align="center">@item.Experience</td>
                                <td align="center">@item.LastDateToApply.Value.ToString("MMM dd yyyy")</td>
                                <td align="center">@item.CompanyName</td>
                                <td align="center">@item.Country</td>
                                <td align="center">@item.State</td>
                                <td align="center">@item.CreateDate.Value.ToString("MMM dd yyyy")</td>
                                <td align="center" style="width:50px;">
                                    <a id="ContentPlaceHolder1_GridView1_btnEditJob_0" href="/Admin/JobsEdit/@item.JobId"><img id="ContentPlaceHolder1_GridView1_Img_0" src="../assets/img/icon/editPencil.png" style="height:25px;" /></a>
                                </td>
                                <td align="center"><input type="image" src="/assets/img/icon/trashIcon.png" alt="Delete" onclick="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Delete$0&#39;);return false;" style="height:25px;width:25px;" /></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>