@model IEnumerable<OnlineJobPortal.Models.AppliedJob>
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<div style="background-image: url('../Images/bg.jpg'); width: 100%; height: 720px; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="container-fluid pt-4 pb-4">
        <div>
            <span id="ContentPlaceHolder1_lblMsg"></span>
        </div>

        <h3 class="text-center">View Resume/Download Resume</h3>

        <div class="row mb-3 pt-sm-3">
            <div class="col-md-12">
                <div>
                    <table class="table table-hover table-bordered" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
                        <tr align="center" style="color:White;background-color:#7200CF;">
                            <th scope="col">Sr.No</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Job Title</th>
                            <th scope="col">User Name</th>
                            <th scope="col">User Email</th>
                            <th scope="col">Mobile No.</th>
                            <th scope="col">Resume</th>
                            <th scope="col">Delete</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td align="center">@(count++)</td>
                                <td align="center">@item.Job.CompanyName</td>
                                <td align="center">@item.Job.Title</td>
                                <td align="center">@item.User.Username</td>
                                <td align="center">@item.User.Email</td>
                                <td align="center">@item.User.Mobile</td>
                                <td align="center">
                                    <a id="ContentPlaceHolder1_GridView1_HyperLink1_0">
                                        <i class="fas fa-download"></i>Download
                                    </a>

                                </td>
                                <td align="center" onclick="location = '/Admin/DeleteResume/@item.AppliedJobId'"><input type="image" src="../assets/img/icon/trashIcon.png" alt="Delete" onclick="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Delete$0&#39;);return false;" style="height:25px;width:25px;" /></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>