@model OnlineJobPortal.Models.Job
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="@Url.Content("~/assets/img/hero/about.jpg")">
            @*<div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>UI/UX Designer</h2>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img src="@Url.Content("~/assets/img/icon/"+Model.CompanyImage)" style="width:100px" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h4>@Model.Title</h4>
                                </a>
                                <ul>
                                    <li>@Model.CompanyName</li>
                                    <li><i class="fas fa-map-marker-alt"></i>@Model.State, @Model.Country</li>
                                    <li>@Model.Salary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Description</h4>
                            </div>
                        </div>
                        <div class="post-details2  mb-50">
                            @Model.Description
                        </div>
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Overview</h4>
                        </div>
                        <ul>
                            <li>Posted date : <span>@Model.CreateDate.Value.ToString("MMM dd yyyy")</span></li>
                            <li>Location : <span>@Model.State</span></li>
                            <li>Vacancy : <span>@Model.NoOfPost</span></li>
                            <li>Job nature : <span>@Model.JobType</span></li>
                            <li>Salary :  <span>$@Model.Salary</span></li>
                            <li>Application date : <span>@Model.LastDateToApply.Value.ToString("MMM dd yyyy")</span></li>
                        </ul>
                        <div class="apply-btn2" style="text-align: center">
                            @if (ViewBag.message != null)
                            {
                                <span>@ViewBag.message</span>
                            }
                            @if (ViewBag.appliedCheck != null)
                            {
                                <span class="btn">Applied</span>
                            }
                            else
                            {
                                <a href="/Jobs/Apply/@Model.JobId" class="btn">Apply Now</a>
                            }
                        </div>
                    </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Company Information</h4>
                        </div>
                        <span>Colorlib</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <ul>
                            <li>Name: <span>Colorlib </span></li>
                            <li>Web : <span> colorlib.com</span></li>
                            <li>Email: <span>carrier.colorlib@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>